body{
  height: 100%;
  text-align: center;
  margin: 0px;
  background-image: linear-gradient(#003050 75%,#000000 97.5%);
  background-color: #000000;
  background-repeat: no-repeat;
  font-family: "Monaco", "DejaVu Sans Mono", "Consolas", "Monospace";
  color: #707070;
}
a{
  text-decoration: none;
}
h1, h2, h3{
  padding: 0px;
  margin: 0px;
  color: #707070;
  vertical-align: middle;
}
.link-button{
  background-color: #e6ebef;
  max-width: 200px;
  margin: 10px auto;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
}
.link-button:hover{
  background-color: #333333;
}
.logo{
  padding: 5px;
  width: 48px;
  height: 48px;
  float: left;
}
#main{
  margin: 0px;
  padding: 15px 5px;
}
#content{
  max-width: 275px;
  margin: 50px auto;
  background-color: #555555;
  padding-bottom: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #333333;
  border-width: 2px;
}
#heading{
  width: 273px;
  background-color: #333333;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  margin-left: -2px;
  margin-bottom: 50px;
  margin-top: -2px;
}
#session-ID{
  margin: 0px auto;
  max-width: 175px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-color: #e6ebef;
  font-family: Courier;
  font-weight: bold;
  font-size: 12px;
  color: #aaaaaa;
}
#rocket-animation{
  margin-top: 50px;
  margin-bottom: 100px;
  user-select: none;
  color: #aaaaaa;
  margin-right: 0px;
  margin-left: 0px;
  width: 175px;
  margin: 0px auto;
}
#quote{
  margin: 25px auto;
  width: 300px;
  white-space: pre-wrap;
}
