body{
  height: 100%;
  text-align: center;
  font-family: "Monaco", "DejaVu Sans Mono", "Consolas", "Monospace"; /*https://hiler.eu/*/
}
image{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('res/cow.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
div{
  /*background-color: #003050; /*"Prussian Blue"*/
  color: #809596; /*"Light slate gray"*/
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10%;
  margin-left: 10%;
}
a:link{}
a:visited{}
a:hover{}
a:active{}
img{
  width: 100%;
}
h1{
  height: 100%;
  /*font-family: Courier;*/
}
h2{
  background-color: #e6ebef;
}
.main{
  background-color: #333;
}
