body{
  height: 100%;
  text-align: center;
  margin: 0px;
  background-color: #333333;
  font-family: "Monaco", "DejaVu Sans Mono", "Consolas", "Monospace";
}
div{
  color: #809596;
}
a{
  text-decoration: none;
}
h2, h3{
  font-family: Courier;
}
.main{
  margin: 0px;
  padding: 25px 0px;
}
.content{
  margin-right: 15%;
  margin-left: 15%;
  background-color: #555555;
  padding: 25px 0px;
}
.link-button{
  background-color: #e6ebef;
  max-width: 200px;
  margin: 0px auto;
}
.link-button:hover{
  background-color: #333333;
}
